In [1]:
%load_ext bigdata

In [2]:
%pig_init

In [3]:
%%writefile data.csv
A, 1,  2,  3,  4
B, 5,  6,  7,  8
C, 9, 10, 11, 12

Writing data.csv

In [4]:
%%pig
u = load 'data.csv' using PigStorage(',') 
    as (L:chararray, f1:int, f2:int, f3:int, f4:int); 
dump u;

(A,1,2,3,4)
(B,5,6,7,8)
(C,9,10,11,12)

In [5]:
%hive_init

Hive initialized!

In [6]:
%%writefile persons.csv
4,Roth,Fry,1975-01-29 00:00:00,black,1
5,Zoe,Conway,1974-07-03 00:00:00,blue,2
6,Gretchen,Kinney,1974-10-18 00:00:00,viole,1
7,Driscoll,Klein,1970-10-05 00:00:00,blue,5
8,Karyn,Diaz,1969-02-24 00:00:00,red,1
9,Merritt,Guy,1974-10-17 00:00:00,indigo,4
10,Kylan,Sexton,1975-02-29 00:00:00,black,4
11,Jordan,Estes,1969-12-07 00:00:00,indigo,4
12,Hope,Coffey,1973-12-24 00:00:00,green,5
13,Vivian,Crane,1970-08-27 00:00:00,gray,5
14,Clio,Noel,1972-12-12 00:00:00,red,5
15,Hope,Silva,1970-07-01 00:00:00,blue,5
16,Ayanna,Jarvis,1974-02-11 00:00:00,orange,5
17,Chanda,Boyer,1973-04-01 00:00:00,green,4
18,Chadwick,Knight,1973-04-29 00:00:00,yellow,1

Writing persons.csv

In [7]:
lines = open('persons.csv', 'r').read()
lines = lines.replace(',', chr(1))
open('persons', 'w').write(lines)

643

In [8]:
%%hive

DROP DATABASE IF EXISTS test CASCADE;
CREATE DATABASE test;
USE test;

CREATE TABLE persons (
    id INT,
    firstname VARCHAR(10),
    surname VARCHAR(10),
    birthday TIMESTAMP,
    color VARCHAR(9),
    quantity INT
);
LOAD DATA LOCAL INPATH 'persons' INTO TABLE persons; 
SELECT * FROM persons;
DROP DATABASE IF EXISTS test CASCADE;

4	Roth	Fry	1975-01-29 00:00:00	black	1
5	Zoe	Conway	1974-07-03 00:00:00	blue	2
6	Gretchen	Kinney	1974-10-18 00:00:00	viole	1
7	Driscoll	Klein	1970-10-05 00:00:00	blue	5
8	Karyn	Diaz	1969-02-24 00:00:00	red	1
9	Merritt	Guy	1974-10-17 00:00:00	indigo	4
10	Kylan	Sexton	1975-03-01 00:00:00	black	4
11	Jordan	Estes	1969-12-07 00:00:00	indigo	4
12	Hope	Coffey	1973-12-24 00:00:00	green	5
13	Vivian	Crane	1970-08-27 00:00:00	gray	5
14	Clio	Noel	1972-12-12 00:00:00	red	5
15	Hope	Silva	1970-07-01 00:00:00	blue	5
16	Ayanna	Jarvis	1974-02-11 00:00:00	orange	5
17	Chanda	Boyer	1973-04-01 00:00:00	green	4
18	Chadwick	Knight	1973-04-29 00:00:00	yellow	1